<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UserDao">
	<select id="findUser" parameterType="HashMap" resultType="entity.User">
		SELECT
			*
		FROM
			user
		WHERE
			name=#{name}
		AND
			password=#{password}
	</select>
	
	<select id="findAll" resultType="entity.YearTest">
	SELECT  DISTINCT a.year,
	(SELECT b.amount FROM test b WHERE a.year=b.year and b.month=1) AS 'm1',  
	(SELECT b.amount FROM test b WHERE a.year=b.year and b.month=2) AS 'm2',  
	(SELECT b.amount FROM test b WHERE a.year=b.year and b.month=3) AS 'm3',  
	(SELECT b.amount FROM test b WHERE a.year=b.year and b.month=4) AS 'm4' 
	FROM test a  
	</select>

	<select id="findArea" resultType="entity.Area">
		SELECT
			*
		FROM
			area
	</select>


	<select id="findUserList" resultType="entity.User">
		SELECT * from `user` where state=0
	</select>

	<insert id="saveUser" parameterType="entity.User">
		INSERT INTO
			`USER`
			(`name`,sex,area,tel,`identity`,state,password)
		VALUES
			(#{name},#{sex},#{area},#{tel},#{identity},#{state},#{password})
	</insert>

	<select id="findUserById" parameterType="Integer" resultType="entity.User">
		SELECT * FROM USER WHERE id = #{id}
	</select>

	<update id="changeUserState" parameterType="Integer">
		UPDATE user SET state = #{state} where id = #{id}
	</update>
	
	<insert id="saveOrder" parameterType="Order">
		INSERT INTO
			`order`
			(`no`,price,area,buyer,seller,`time`,state,moreArea,`type`)
		VALUES
			(#{no},#{price},#{area},#{buyer},#{seller},#{time},#{state},#{moreArea},#{type})
	</insert>

	<select id="findTypeById" parameterType="Integer" resultType="entity.Type">
		SELECT * from TYPE WHERE id=#{id}
	</select>

	<select id="listType" resultType="entity.Type">
		SELECT * FROM `Type`
	</select>

	<insert id="saveType" parameterType="entity.Type" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO Type
			(id,`name`,url)
		VALUES
		    (#{id},#{name},#{url})
	</insert>

	<delete id="deleteType" parameterType="Integer" >
		DELETE FROM Type where id=#{id}
	</delete>

	<update id="updateTypeById" parameterType="entity.Type" >
		UPDATE Type SET `name`=#{name},url=#{url} where id=#{id}
	</update>
	<select id="findUserByAreaAndIdentity" parameterType="entity.Order" resultType="entity.User">
		select *
	    from user
		where area=#{area} and IDENTITY ='1'
	</select>

	<select id="findOrderNum" parameterType="HashMap" resultType="Integer">
		select count(*)
		from `ORDER`
		where `time`=#{time}
		AND buyer=#{id}
	</select>

    <select id="findOrderBySeller" parameterType="Integer" resultType="entity.Order">
        SELECT * FROM
          `order`
        WHERE
          seller = #{id}
    </select>

    <select id="findOrderByBuyer" parameterType="Integer" resultType="entity.Order">
        SELECT * FROM
        `order`
        WHERE
        buyer = #{id}
        AND
        `state`=#{state}
    </select>

    <select id="findOrderById" parameterType="Integer" resultType="entity.Order">
        SELECT * FROM
        `order`
        WHERE
        id = #{id}
    </select>

    <update id="changeOrderState" parameterType="Integer">
        UPDATE `order`
        SET `state` = 1
        WHERE id = #{id}
    </update>

	<select id="findAreaById" resultType="entity.Area" parameterType="Integer">
		SELECT
		*
		FROM
		area
		WHERE
		id=#{id}
	</select>

</mapper>